<div class="box sidebox about">
  <div class="sidebox-title">Sobre</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>

  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="https://br.linkedin.com/in/gcoelho1" target="_blank" class="social-item tw"><li><i class="fa fa-linkedin"></i></li></a>
    
    <a href="https://github.com/guilhermecoelho" target="_blank" class="social-item github"><li><i class="fa fa-github"></i></li></a>
    
    <a href="https://www.facebook.com/guilhermecoelho" target="_blank" class="social-item tw"><li><i class="fa fa-facebook"></i></li></a>
    
    <a href="http://www.guilhermecoelho.org" target="_blank" class="social-item home"><li><i class="fa fa-home"></i></li></a>

  </ul>

</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Ultimos publicados</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

